

@media (max-width: 599px) {
    .caja1{
        background-color: red; 
        font-size: small;       
        text-align: center;    
  }
}

@media (max-width: 1023px) and (min-width: 600px )  {
    .caja1{
        background-color: blue;
        font-size: medium;
        text-align: center;
    }
}

@media (min-width: 1024px )  {
    .caja1{
        background-color: green;
        font-size: large;
        text-align: right;
    }
}

