@font-face {
  font-family: 'bit';
  src: url('bitcount.ttf') format('truetype');
}

p {
  color: aquamarine;
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: red;
  font-family: 'bit';
}

body{background-color: antiquewhite; margin: 3cm;}
*{
    margin: 
   
    ;
     padding: auto
}