.caja1 { 
    background-color: yellow;
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
    margin-right: 1000px;
    font-weight: bold;

}
.caja2 { 
    background-color: orange;
    color: black;
    font-size: 20 px;
    font-weight: bold;
    margin-bottom: 20PX;
    margin-right: 1000px;
}



